<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listado de Tareas</title>
</head>
<body>
<h1>Listado de tareas <span th:if="${usuario}" th:text="${usuario}"></span></h1>
<p><a th:href="@{/tarea-add}">Añadir Tarea</a></p>
<form action="/tareas" method="get">
    <input type="text" name="usuario">
    <input type="submit" value="Buscar" placeholder="Cadena de búsqueda...">
</form>
<div th:if="${tareas.size} > 0">
    <table>
        <tr>
            <th>Codigo</th>
            <th>Usuario</th>
            <th>Descripción</th>
            <th>Vencimiento</th>
            <th>Acciones</th>
        </tr>
        <tr th:each="item : ${tareas}">
            <td th:text="${item.codigo}"></td>
            <td th:text="${item.usuario}"></td>
            <td th:text="${item.descripcion}"></td>
            <td th:text="${#temporals.format(item.vencimiento, 'dd-MM-yyyy HH:mm')}"></td>
            <td><a th:href="@{/tarea-del(codTarea=${item.getCodigo})}">Borrar</a></td>
            <td><a th:href="@{/tarea(codTarea=${item.getCodigo})}">Detalle</a></td>
        </tr>
    </table>
</div>
<div th:unless="${tareas.size} > 0">
    <p>No existen Tareas</p>
</div>
</body>
</html>